<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Classification - Cohesion Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='interactive_build.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <!-- Add the header for the page -->
    <header class="text-center mt-3">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1>Exploring Group Cohesion Using GNNs</h1>
        </a><br>
        <h3>Data Selection</h3>

    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Left column: Intro and sliders -->
            <div class="col-md-6 bg-light sidebar-border">
                <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                    <div style="text-align: center;">
                        <div id="BinaryQuestionHeader" style="display: none;">
                            <h4> Question {{model_metadata['question']}}: {{model_metadata['question_prompt']}}</h4>
                    
                            <div style="text-align: left;">
                                Each point plotted below represents scores assigned by three annotators regarding the selected question
                                for an arbitrary two minute segment. For example, a given point might represent the list [3,4,3]. <br><br>
                    
                                Each point is plotted in reference to its average and standard deviation. The standard deviation of a point
                                should be used to interpret
                                aggreeability amongst annotators. To establish a robust ground truth, points used to train the model should
                                have a low standard deviation
                                to assure that an acceptable degree of consensus exist.The average of a point is used to gauge the degree of
                                cohesion noted, on average, by
                                the three annotators. Since a binary classification model was chosen, points must be partitioned into high
                                and low cohesion groups to assign a binary labels to each observation.<br><br>
                    
                                Please set a Standard Deviation and Average Score contraints keeping in mind that a good training dataset
                                will
                                balance annotator consensus, partition distance, and number of observations. Continue with your model build
                                when you are
                                satisfied with your data slection. <br><br>
                            </div>
                    
                        </div>
                    
                        <div id="RegressQuestionHeader" style="display: none;">
                            <h4> Question {{model_metadata['question']}}: {{model_metadata['question_prompt']}}</h4>
                    
                            <div style="text-align: left;">
                                Each point plotted below represents scores assigned by three annotators regarding the selected question
                                for an arbitrary two minute segment. For example, a given point might represent the list [3,4,3]. <br><br>
                    
                                Each point is plotted in reference to its average and standard deviation.The standard deviation of a point
                                should be used to interpret aggreeability amongst annotators. To establish a robust
                                ground truth, points used to train the model should have a low standard deviation to assure that an
                                acceptable degree of
                                consensus exist. The average of a point is used to gauge the degree of cohesion noted, on average, by the
                                three annotators.<br><br>
                    
                                Please set a Standard Deviation constraint keeping in mind that a good training dataset will balance
                                annotator consensus, a comprehensive
                                data distribution, and number of observations. Continue with your model build when you are satisfied with
                                your data slection.<br><br>
                            </div>
                        </div>
                    
                        <div id="BinaryCategoryHeader" style="display: none;">
                            <h4> Category Chosen: {{model_metadata['category']}}</h4>
                    
                            <div style="text-align: left;">
                                Each point plotted below represents scores assigned by three annotators regarding the selected category
                                for an arbitrary two minute segment. For example, if Task Cohesion was chosen, a point will loook as
                                follows: <br><br>
                    
                                [[3,4,3,5,6,2,3,6], [4,6,3,2,8,4,6,6], [1,6,5,7,8,4,5,6]] <br><br>
                    
                                Where each element in the list represents the scores given by an annotator for the eight questions
                                concerning Task Cohesion. Each point is
                                plotted in reference to its average and Kappa Score. The Kappa Score of a point should be used to interpret
                                aggreeability amongst annotators. To establish a robust
                                ground truth, points used to train the model should have a high Kappa Score to assure that an acceptable
                                degree of
                                consensus exist. The average of a point is used to gauge the degree of cohesion noted, on average, by the
                                three annotators. Since a
                                binary classification model was chosen, points must be partitioned into high and low cohesion groups to
                                assign a binary labels to each observation.<br><br>
                    
                                Please set a Kappa and Average Score contraints keeping in mind that a good training dataset will
                                balance annotator consensus, partition distance, and number of observations. Continue with your model build
                                when you are
                                satisfied with your data selection.<br><br>
                            </div>
                    
                        </div>
                    
                        <div id="RegressCategoryHeader" style="display: none;">
                            <h4> Category Chosen: {{model_metadata['category']}}</h4>
                    
                            <div style="text-align: left;">
                                Each point plotted below represents scores assigned by three annotators regarding the selected category
                                for an arbitrary two minute segment. For example, if Task Cohesion was chosen, a point will loook as
                                follows: <br><br>
                    
                                [[3,4,3,5,6,2,3,6], [4,6,3,2,8,4,6,6], [1,6,5,7,8,4,5,6]]<br><br>
                    
                                Where each element in the list represents the scores given by an annotator for the eight questions
                                concerning Task
                                Cohesion. Each point is plotted in reference to its average and Kappa Score. The Kappa Score of a point
                                should be used to interpret aggreeability amongst annotators. To establish a robust
                                ground truth, points used to train the model should have a high Kappa Score to assure that an acceptable
                                degree of
                                consensus exist. The average of a point is used to gauge the degree of cohesion noted, on average, by the
                                three annotators. Since a
                                binary classification model was chosen, points must be partitioned into high and low cohesion to assign a
                                binary labels
                                to each observation.<br><br>
                    
                                Please set a Kappa constraint keeping in mind that a good training dataset will
                                balance annotator consensus, a comprehensive data distribution, and number of observations. Continue with
                                your model
                                build when you are satisfied with your selection. <br><br>
                            </div>
                        </div>
                    </div>

                    <!-- Form for binary classification -->
                    <form id="binaryForm" action="/data_proc" method="POST">
                        <div class="row">
                                <!-- Floor slider -->
                                <div id="floorSlider" style="display: block; text-align: center;">
                                    <label for="floor"><strong>High Cohesion Floor:</strong></label>
                                    <input type="range" id="floor" name="floor" min="1" max="7" step="0.10" value="4"
                                        oninput="document.getElementById('floorVal').innerHTML = this.value">
                                    <span id="floorVal" style="display: inline-block; width: 30px; text-align: right;">4</span><br>
                                </div>

                                <!-- Ceiling slider -->
                                <div id="ceilingSlider" style="display: block; text-align: center;">
                                    <label for="ceiling"><strong> Low Cohesion Celing: </strong></label>
                                    <input type="range" id="ceiling" name="ceiling" min="1" max="7" step="0.10"
                                        value="4"
                                        oninput="document.getElementById('ceilingVal').innerHTML = this.value">
                                    <span id="ceilingVal" style="display: inline-block; width: 30px; text-align: right;">4</span><br>
                                </div>

                                <!-- Standard Deviation slider -->
                                <div id="stdDevDiv" style="display: none; text-align: center;">
                                    <label for="std_dev"><strong>Max Standard Deviation:</strong></label>
                                    <input type="range" id="std_dev" name="threshold_std" min="0" max="2" step="0.10"
                                        value="2.0"
                                        oninput="document.getElementById('stdDevVal').innerHTML = this.value">
                                    <span id="stdDevVal" style="display: inline-block; width: 30px; text-align: right;">2.0</span>
                                </div>

                                <!-- Kappa slider -->
                                <div id="kappaDiv" style="display: none; text-align: center;" >
                                    <label for="kappa"><strong>Min Kappa:</strong></label>
                                    <input type="range" id="kappa" name="threshold_kappa" min="-0.2" max="1.0"
                                        step="0.01" value="-0.2"
                                        oninput="document.getElementById('kappaVal').innerHTML = this.value">
                                    <span id="kappaVal" style="display: inline-block; width: 30px; text-align: right;">-0.2</span>
                                </div>

                            <!-- Hidden inputs for question or category -->
                            <input type="hidden" name="question" value="{{ question }}">
                            <input type="hidden" name="category" value="{{ category }}">
                            <input type="hidden" name="model_type" value="{{ model_type }}">
                        </div>
                    </form>

                </div>
            </div>

            <!-- Right column: Plot -->
            <div class="col-md-6 bg-light sidebar-border">
                <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                    <div class = "row">
                        <div id="annotators_data"></div> 
                    </div>
                    <div class="row">
                        <form id="modelBuildForm" method="POST" action="/interactive_build">

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <button id="model-output-btn" class="btn btn-success btn-lg" type="submit">Continue to Model
                                    Build</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Initialize an empty plot as a placeholder
        var initial_data = [{
            x: [],
            y: [],
            mode: 'markers',
            type: 'scatter',
            marker: { color: 'red' }
        }];

        var initial_layout = {
            title: 'Placeholder Plot',
            xaxis: { title: 'X-Axis' },
            yaxis: { title: 'Y-Axis' }
        };

        // Render the initial empty plot
        Plotly.newPlot('annotators_data', initial_data, initial_layout);
    </script>

    <script type="text/javascript">
        var data = {{ data_JSON | safe }};
        var layout = {{ layout_JSON | safe }};
        var config = {{ config_JSON | safe }};

        Plotly.react("annotators_data", data, layout, config);
    </script>

    <script>
        const modelMetadata = {{ model_metadata | tojson }};
    </script>

    <script src="{{ url_for('static', filename='data_proc.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>